/* Who We Are Component Design */

.common-header-right-div-title {
  padding-left: 20px;
  border-left: 1px solid white;
}

.common-header-right-image-div {
  padding-left: 20px;
  margin: 3rem auto;
}

.common-header-right-image-div img {
  width: 80%;
  height: auto;
  border-radius: 20px;
}

.common-header-right-div-title h4 {
  color: white;
  text-transform: capitalize;
  font-size: 20px;
}
.common-header-right-div-title h2 {
  color: #f4af04;
  text-transform: uppercase;
}

.common-header-right-div-text {
  padding-left: 20px;
  margin: 3rem auto;
}

.common-header-right-div-text p {
  color: white;
  font-size: 16px;
  font-weight: 100;
  font-family: "Finlandica", sans-serif;
  text-align: justify;
}

.common-button-design {
  padding-left: 20px;
}

.common-button-design button {
  padding: 10px 50px;
  margin: 0.5rem auto 0rem auto;
  border-radius: 50px;
  text-transform: uppercase;
  color: white;
  background-color: #f4af04;
  border: none;
}

.common-button-design button:hover {
  background-color: #252525;
}

/* Video related css */

.vid-wrap {
  display: block;
  position: relative;
  margin: 4rem auto;
  padding-left: 20px;
}

.vid-wrap img {
  cursor: pointer;
  position: relative;
  width: 80%;
  height: auto;
  border: 10px !important;
}

.vid-wrap iframe {
  width: 80%;
  height: 280px;
  display: none;
  border-radius: 10px;
}

.vid-wrap .btn-close {
  display: none;
  cursor: pointer;
}
.vid-wrap .btn-close i {
  background-color: #fff;
  padding: 3px 5px;
  border-radius: 50%;
  color: #000;
  position: absolute;
  font-size: 18px;
  top: 0%;
  right: 0%;
}

/* Why Choose Us Component Design */
.why-choose-us-div {
  color: white;
  font-family: "Finlandica", sans-serif;
}

.why-choose-us-div i {
  font-size: 2rem;
}

.why-choose-us-div h4 {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}

.why-choose-us-div p {
  font-weight: 100;
  font-size: 15px;
  margin: 1rem auto;
}

.common-header-col-image {
  max-width: 100%;
  position: relative;
  text-align: center;
}
.common-header-col-image img {
  width: auto;
  height: auto;
  opacity: 0.9;
  filter: brightness(100%) contrast(100%) saturate(60%) blur(0px)
    hue-rotate(0deg);
}

.common-header-col-image-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f4af04;
  text-transform: uppercase;
  width: 100%;
}

.common-header-col-image-centered h1 {
  font-size: 6.5rem;
  font-weight: bolder;
  opacity: 0.6;
}
.common-header-col-image-centered h1:nth-last-child(1) {
  color: white;
}

/* Pro Selected Component Design */

.common-header-vartical-div-title {
  text-align: center;
  color: white;
}

.common-header-vartical-div-title h4 {
  color: white;
  text-transform: capitalize;
  font-size: 20px;
}

.common-header-vartical-div-title h2 {
  color: #f4af04;
  text-transform: uppercase;
}

.middle-vertical-line-div {
  margin: 10px auto;
  display: block;
  width: 0%;
}

.middle-vertical-line {
  width: 1px;
  height: 50px;
  background-color: white;
  transform: rotate(180deg);
  text-align: center;
}

.pro-selected-card {
  margin: 2.5rem auto;
  text-align: center;
}

.pro-selected-card img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  margin: 2rem auto;
  transition: transform 0.5s;
  opacity: 0.7;
}

.pro-selected-card img:hover {
  transform: scale(1.1);
  opacity: 1;
}

.pro-selected-card h4 {
  color: #f4af04;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.pro-selected-card p {
  color: white;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 100;
  font-family: "Finlandica", sans-serif;
}

/* Achivment Component Design */
.achivment-card {
  text-align: center;
}

.achivment-card i {
  margin: 30px auto;
  color: #f4af04;
  font-size: 3.5rem;
}

.achivment-card h2 {
  color: white;
  font-size: 2.5rem;
}

.achivment-card p {
  color: white;
  font-family: "Finlandica", sans-serif;
  font-size: 20px;
}

/* Strong Trainers Team Component Design */

.strong-team-slider-div {
  margin: auto;
  display: block;
  width: 80%;
}

.strong-team-slider-image-div img {
  border-radius: 20px !important;
  height: auto;
  width: 100%;
}

/* What Client Say Review Component Design */

.client-say-review-card {
  margin: 2rem auto;
  padding-left: 20px;
  color: white;
}

.client-say-review-card-header i {
  font-size: 2.5rem;
  color: #f4af04;
  margin: 20px auto;
}

.client-say-review-card-header p,
.client-say-review-card-footer p {
  font-family: "Finlandica", sans-serif;
  display: -webkit-box;
  max-width: 400px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.client-say-review-card-col {
  padding: 0px 30px;
}

.client-say-review-card-footer {
  text-align: center !important;
}

.client-say-review-card-footer h6 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 5px auto;
}

.client-say-review-card-footer img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 40px auto 10px auto;
  display: block;
}

/* Choose Plan Component Design */
.choose-plan-card {
  text-align: center;
  padding: 3rem 2rem;
  color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  border: 1px dotted #f4af04;
  background-color: #222222;
}

.choose-plan-card h3 {
  color: #f4af04;
  text-transform: uppercase;
}

.choose-plan-card h6 {
  font-size: 15px;
  letter-spacing: 1px;
}

.choose-plan-card h1 {
  font-size: 4rem;
  color: #f4af04;
  margin: 2.5rem auto 0rem auto;
}

.choose-plan-card span {
  color: #f4af04;
}

.choose-plan-card p {
  font-family: "Finlandica", sans-serif;
  font-size: 15px;
  font-weight: 100;
  padding: 0px;
  margin: 0px;
}

/* About us OverView Component Design */
.about-vid-wrap {
  display: block;
  position: relative;
  margin: 4rem auto;
  width: 80%;
}

.about-vid-wrap img {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: auto;
  border: 10px !important;
}

.about-vid-wrap iframe {
  width: 100%;
  height: 280px;
  display: none;
  border-radius: 10px;
}

.about-vid-wrap .btn-close {
  display: none;
  cursor: pointer;
}
.about-vid-wrap .btn-close i {
  background-color: #fff;
  padding: 3px 5px;
  border-radius: 50%;
  color: #000;
  position: absolute;
  font-size: 18px;
  top: 0%;
  right: 0%;
}

/* About Us Award Component Design */
.award-card {
  margin: 3rem auto;
}

.award-card-image {
  text-align: center;
  margin: 20px auto;
  padding-left: 6rem;
}

.award-card-image img {
  width: auto;
  height: auto;
}

/* Classes List Component Design */

.class-list-card {
  padding: 20px;
  text-align: center;
  color: white;
}

.class-list-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  filter: brightness(100%) contrast(100%) saturate(60%) blur(0px)
    hue-rotate(0deg);
  transition-duration: 0.5s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  vertical-align: middle;
  display: inline-block;
}

.class-list-card img:hover {
  filter: none;
}

.class-list-card h4 {
  color: #f4af04;
  margin: 30px auto 10px auto;
  text-transform: uppercase;
}

.class-list-card p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Finlandica", sans-serif;
  font-size: 15px;
  font-weight: 100;
}

/* Workout Shedule Component Design */
.workout-shedule-list-div ul {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-items: center;
  color: white;
  margin: 10px auto;
}

.workout-shedule-list-div ul li:nth-last-child(2) {
  color: #f4af04;
  border-bottom: 1px dashed #f4af04;
  padding-top: 0px;
  padding-bottom: 5px;
  width: 50%;
  font-size: 14px;
  margin: 0px;
}

.workout-shedule-list-div ul li:nth-last-child(1) {
  list-style: none;
  border-bottom: 1px dashed white;
  padding-bottom: 5px;
  width: 50%;
  text-align: right;
  font-size: 14px;
  padding-top: 0px;
  margin: 0px;
}

/* Expart Trainers Component Design */

.trainers-card {
  margin: 4rem auto 0rem auto;
}

.tainers-card-image {
  margin: 1rem auto;
}

.tainers-card-image img {
  width: auto;
  height: auto;
  padding-left: 4rem;
  opacity: 0.9;
  filter: brightness(100%) contrast(100%) saturate(60%) blur(0px)
    hue-rotate(0deg);
}

/* Review Stories Component Design */
.review-stories-card {
  color: white;
  padding: 30px;
  border: 1px dashed white;
  border-radius: 10px;
}
.review-stories-card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.review-stories-card p {
  font-family: "Finlandica", sans-serif;
  font-size: 12px;
  font-weight: 100;
  margin: 0px;
  padding: 0px;
}

.review-stories-card h6 {
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

.review-stories-card i {
  color: #f4af04;
  font-size: 2rem;
}

.review-stories-card-description p {
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Dynamic Choose Plan button Design */

.dynamic-button {
  text-align: center;
}
.dynamic-button button {
  border: none;
  color: white;
  padding: 10px 50px;
}

.dynamic-button button:nth-last-child(1) {
  background-color: black;
  border-radius: 0px 50px 50px 0px;
}

.dynamic-button button:nth-last-child(2) {
  background-color: #f4af04;
  border-radius: 50px 0px 0px 50px;
}

.dynamic-button button:hover:nth-last-child(1),
.dynamic-button button:hover:nth-last-child(2) {
  background-color: #222222;
}

/* Contact Form Component Design */

.contact-form-social-div {
  margin-top: 4rem;
}

.contact-form-icon-div i {
  color: white;
  font-size: 16px;
  margin: 1rem 2rem auto auto;
  text-decoration: none;
}

.contact-form-icon-div i:hover {
  color: #f4af04;
}

.contact-form-div {
  margin: auto 30px;
}

.contact-form-div input,
.contact-form-div textarea {
  margin: 0.7rem auto;
  padding: 15px 20px;
  width: 100%;
  font-family: "Finlandica", sans-serif;
  outline: none;
  border: none;
}

.contact-form-div button {
  width: 100%;
  text-transform: uppercase;
  margin: 1rem auto;
  padding: 20px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #f4af04;
  letter-spacing: 1px;
}

.contact-form-div button:hover {
  background-color: #313131;
}

/* Google Map Component Design */
.google-map-div {
  touch-action: pan-x pan-y;
  opacity: 0.9;
  filter: brightness(100%) contrast(100%) saturate(60%) blur(0px)
    hue-rotate(0deg);
}

.google-map-div:hover {
  filter: none;
  opacity: 1;
}

/* Loading Component Design */

.loading-container {
  padding: 20rem 1rem 40rem 1rem;
  background-image: url("../../Images/smoke-overlays-6.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

/* ============================ */
/* Respinsive Design Area */
/* ============================= */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .vid-wrap img {
    width: 100%;
  }

  .vid-wrap iframe {
    width: 100%;
    height: 200px;
  }

  .common-header-col-image-centered h1 {
    font-size: 3rem;
  }

  .common-header-col-image img {
    width: 100%;
  }

  .about-vid-wrap {
    width: 100%;
  }

  .award-card-image {
    padding-left: 4rem;
  }

  .contact-form-div {
    margin: auto;
  }

  .common-header-right-image-div img {
    width: 100%;
  }

  .workout-shedule-list-div ul li:nth-last-child(2) {
    font-size: 12px;
  }

  .workout-shedule-list-div ul li:nth-last-child(1) {
    font-size: 12px;
  }

  .dynamic-button button {
    padding: 10px 30px;
  }

  .review-stories-card h6 {
    font-size: 13px !important;
  }

  .review-stories-card {
    padding: 15px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .vid-wrap img {
    width: 100%;
  }

  .vid-wrap iframe {
    width: 100%;
    height: 200px;
  }

  .common-header-col-image-centered h1 {
    font-size: 3rem;
  }

  .about-vid-wrap {
    width: 100%;
  }

  .award-card-image {
    padding-left: 4rem;
  }
  .contact-form-div {
    margin: auto;
  }

  .common-header-right-image-div img {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .vid-wrap img {
    width: 90%;
  }

  .vid-wrap iframe {
    width: 90%;
    height: 200px;
  }

  .common-header-col-image-centered h1 {
    font-size: 3.5rem;
  }

  .about-vid-wrap {
    width: 100%;
  }

  .award-card-image {
    padding-left: 3.5rem;
  }

  .contact-form-div {
    margin: auto;
  }

  .common-header-right-image-div img {
    width: 100%;
  }

  .tainers-card-image img {
    padding-left: 10rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1026px) {
  .vid-wrap img {
    width: 90%;
  }

  .vid-wrap iframe {
    width: 90%;
    height: 200px;
  }

  .common-header-col-image-centered h1 {
    font-size: 4rem;
  }

  .why-choose-us-div i {
    font-size: 1.4rem;
  }
  .common-header-col-image img {
    width: 100%;
  }

  .award-card-image {
    padding-left: 3.5rem;
  }

  .review-stories-card h6 {
    font-size: 12px !important;
  }

  .review-stories-card {
    padding: 13px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
