.classes-details-container {
  background-image: url("../../Images/smoke-overlays-6.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.classes-details-banner-div {
  padding: 7rem 1rem 0rem 1rem;
}

.classes-details-header-col-image {
  max-width: 100%;
  position: relative;
  text-align: center;
}
.classes-details-header-col-image img {
  width: auto;
  height: auto;
  opacity: 0.9;
  filter: brightness(100%) contrast(100%) saturate(60%) blur(0px)
    hue-rotate(0deg);
}

.classes-details-header-col-image-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f4af04;
  text-transform: uppercase;
  width: 100%;
}

.classes-details-header-col-image-centered h1 {
  font-size: 6.5rem;
  font-weight: bolder;
  opacity: 0.6;
}
.classes-details-header-col-image-centered h1:nth-last-child(1) {
  color: white;
}

.classes-details-header-right-div-title {
  padding-left: 20px;
  border-left: 1px solid white;
}

.classes-details-header-right-div-title h4 {
  color: white;
  text-transform: capitalize;
  font-size: 20px;
}
.classes-details-header-right-div-title h2 {
  color: #f4af04;
  text-transform: uppercase;
}
.classes-details-header-right-div-text {
  padding-left: 20px;
  margin: 3rem auto;
}

.classes-details-header-right-div-text p {
  color: white;
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
  font-family: "Finlandica", sans-serif;
}

.classes-details-container-div-gray {
  padding: 5rem 1rem 4rem 1rem;
  background-color: transparent;
  background-image: linear-gradient(320deg, #12100e 0%, #3d3d3d 100%);
}

.classes-details-container-div-image {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.8)
    ),
    url("../../Images/sports-equipment-in-gym-dumbbells-of-different1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 5rem 1rem 5rem 1rem;
  background-attachment: fixed;
}
